::selection{
  background-color: var(--primary);
  color: var(--dark);
}
  
::-moz-selection{
  background-color: var(--primary);
  color: var(--dark);
}

.intermission .container p::selection {
  background-color: var(--primary-dark);
  color: var(--white);
}